{% extends 'base.html.twig' %}

{% block title %}ApprovalStatus index{% endblock %}

{% block body %}
    <h1>ApprovalStatus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TeamLeaderApprovalDate</th>
                <th>ProjectManagerApprovalDate</th>
                <th>TeamLeaderComment</th>
                <th>ProjectManagerComment</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for approval_status in approval_statuses %}
            <tr>
                <td>{{ approval_status.id }}</td>
                <td>{{ approval_status.teamLeaderApprovalDate ? approval_status.teamLeaderApprovalDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ approval_status.projectManagerApprovalDate ? approval_status.projectManagerApprovalDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ approval_status.teamLeaderComment }}</td>
                <td>{{ approval_status.projectManagerComment }}</td>
                <td>
                    <a href="{{ path('app_approval_status_show', {'id': approval_status.id}) }}">show</a>
                    <a href="{{ path('app_approval_status_edit', {'id': approval_status.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_approval_status_new') }}">Create new</a>
{% endblock %}
